body {
    background-color: rgb(242, 242, 242);
    font-family: Roboto, system-ui, sans-serif;
    font-size: 13px;
    margin: 0;
}

h1 {
    font-size: 1.5em;
    margin: 0 0 20px 0;
}

.content {
    box-shadow: rgb(224, 224, 224) 0px -1px 0px, rgba(0, 0, 0, 0.12) 0px 0px 2px, rgba(0, 0, 0, 0.24) 0px 2px 4px !important;
    background-color: white;
    padding: 0 20px;
    width: 550px;
}

.settings-wrapper {
    margin-top: 36px;
}

.setting {
    padding: 12px 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin: 0 -20px;
}

.setting-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.setting-content {
    color: #616161;
}

button.save {
    float: right;
    font-size: 14px;
    margin-top: 12px;

    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .25rem;
    padding: .375rem .75rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
