/* Change font everywhere */
* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 99.1%;
	letter-spacing: normal;
}

/* Email subject colour */
.zA {
	color: #040404;
}

/* Header bar */
header {
	box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

/* Sidebar: hide the label email counters */
.bsU {
	display: none;
}

/* Sidebar: labels */
.TO .nU > .n0,
.ah9 > .CJ {
	color: #616161;
}

/* Sidebar: labels */
.TO .nU > .n0,
.TO.NQ .nU > .n0,
.TO.nZ .nU > .n0,
.ah9 > .CJ,
.n3 > .CL > .CK {
	text-shadow: none;
}

/* Emails */
.Cp {
	/*box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);*/
	margin: auto !important;
	margin-bottom: 50px !important;
	max-width: 1200px;
	padding: 0 10px;
}

/* Star email */
td.apU.xY {
	display: block;
	position: absolute;
	right: 0px;
}

/* Display star (pin) on hover */
.zA:hover td.apU.xY {
	display: block;
}

/* Not starred image */
td.apU.xY .T-KT::before {
	background-image: url('https://i.ibb.co/L6F6nTk/btw-ic-pin-black-24dp-2x.png') !important;
	background-size: 24px !important;
}

/* Starred menu item */
.aHS-bnw .qj {
	background-image: url('https://i.ibb.co/L6F6nTk/btw-ic-pin-black-24dp-2x.png') !important;
	background-size: 24px !important;
}

/* Starred */
td.apU.xY .T-KT.xl::before {
	background-image: url('https://i.ibb.co/L6F6nTk/btw-ic-pin-black-24dp-2x.png') !important;
	background-size: 24px !important;
}


/* Starred - Yellow Star */
td.apU.xY .T-KT.T-KT-Jp::before {
	background-image: url('https://i.ibb.co/42t3zLT/ic-mark-pinned-yellow-24dp-r4-2x.png') !important;
	background-size: 24px !important;
	opacity: 1;
}

/* Starred - Orange Star */
td.apU.xY .T-KT.xl::before {
	background-image: url('https://i.ibb.co/5MtMBt5/ic-mark-pinned-orange-24dp-r4-2x.png') !important;
	background-size: 24px !important;
}

/* Starred - Red Star */
td.apU.xY .T-KT.xn::before {
	background-image: url('https://i.ibb.co/60stYpG/ic-mark-pinned-red-24dp-r4-2x.png') !important;
	background-size: 24px !important;
}

/* Starred - Purple Star */
td.apU.xY .T-KT.xm::before {
	background-image: url('https://i.ibb.co/f13zypb/ic-mark-pinned-purple-24dp-r4-2x.png') !important;
	background-size: 24px !important;
}

/* Starred - Blue Star */
td.apU.xY .T-KT.xj::before {
	background-image: url('https://i.ibb.co/p3Hc9HV/ic-mark-pinned-blue-24dp-r4-2x.png') !important;
	background-size: 24px !important;
}

/* Starred - Green Star */
td.apU.xY .T-KT.xk::before {
	background-image: url('https://i.ibb.co/BcktQdk/ic-mark-pinned-green-24dp-r4-2x.png') !important;
	background-size: 24px !important;
}

/* Starred - Red Bang */
td.apU.xY .T-KT.xg::before {
	background-image: url('https://mail.google.com/mail/u/0/images/cleardot.gif') !important;
	background-size: 1px !important;
}

/* Starred - Orange Guillimet */
td.apU.xY .T-KT.xe::before {
	background-image: url('https://mail.google.com/mail/u/0/images/cleardot.gif') !important;
	background-size: 1px !important;
}

/* Starred - Yellow Bang */
td.apU.xY .T-KT.xh::before {
	background-image: url('https://mail.google.com/mail/u/0/images/cleardot.gif') !important;
	background-size: 1px !important;
}

/* Starred - Green Check */
td.apU.xY .T-KT.xd::before {
	background-image: url('https://mail.google.com/mail/u/0/images/cleardot.gif') !important;
	background-size: 1px !important;
}

/* Starred - Blue Info */
td.apU.xY .T-KT.xc::before {
	background-image: url('https://mail.google.com/mail/u/0/images/cleardot.gif') !important;
	background-size: 1px !important;
}

/* Starred - Purple Question */
td.apU.xY .T-KT.xf::before {
	background-image: url('https://mail.google.com/mail/u/0/images/cleardot.gif') !important;
	background-size: 1px !important;
}

/* Unread email */
.yO {
	background: #FFF !important;
}

/* Time */
.time {
	color: #666;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

/* Email */
.zA, .zA:hover {
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24) !important;
	-webkit-box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24) !important;
	z-index: inherit !important;
	padding-right: 24px;
	background: #FFF !important;
}

/* Compose email */
.T-I.J-J5-Ji.T-I-KE.L3 {
    position: fixed;
    right: 40px;
    bottom: 20px;
    z-index: 3;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    padding: 0;
    background: #d23f31;
	overflow: hidden;
}

/* Inbox Email is Empty show Sun */
.TD>.TC {
  background-image: url('//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/zero/2x/ic_zero_inbox_2x.png');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  height: 618px;
  width: 456px;
  background-color: #F2F2F2;
}
/* Hide border at bottom of empty inbox background */
.cf.TB {
  border-bottom: none !important;
}

/*
**
**START OF LEFT MENU
**
*/

.aim {
  padding-left: 4px !important;
}

/* Menu item row */
.TK .TO {
  border-radius: 2px !important;
}

/* Menu item row, hover */
.TK .TO:hover {
  background-color: rgba(0,0,0,.05) !important;
  cursor: pointer;
}

/* Menu item row active */
.TK .TO:active,
.n6 .ah9.aiu:active
.CL:active,
.TO.nZ,
.TO.NQ,
.TO.ol {
  background-color: rgba(0,0,0,.05) !important; 
}

/* Left sidebar collapsed 
.aeN.bhZ {
  display: none !important;
}*/

/* Compose email image */
.z0>.L3::before {
	background-image: url('https://i.ibb.co/y09xqPH/btw-ic-speeddial-white-24dp-2x.png') !important;
    background-size: 24px !important;
}

.z0>.L3:hover::before {
	background-image: url('https://i.ibb.co/x6n7nSQ/btw-ic-speeddial-compose-white-24dp-2x.png') !important;
    background-size: 24px !important;
}

/* Compose email old place */
.z0 {
	margin: 0px !important;
	height: 10px !important;
}

/* Compose email boxes wrapper */
.no {
	padding-right: 40px;
}

/* Menu container */
.aeN {
  width: 232px !important;
  max-width: unset !important;
  min-width: unset !important;
  left: 0;
}
.wT {
  margin-top: -20px;
  max-width: unset;
  min-width: unset;
  width: 224px;
  padding: 12px 8px 52px;
}

/* Menu item sections */
.TK {
    padding: 8px 0;
}

/* Menu item row inner */
.aim .TN {
	height: 40px;
}

/* Menu item row inner (when collapsed) */
.bhZ:not(.bym) .TN {
	padding: 0 4px !important;
}

/* Menu item link */
.TO .nU > .n0 {
  font-weight: normal;
}

/* Menu item link */
.TO .nU > .n0 {
  font-weight: normal;
}

.wT > .n3 .byl:first-child .aim:first-child .nZ {
  background-color: rgba(0,0,0,.05) !important; 
}
.qj {
  width: 24px !important;
  height: 24px !important;
  opacity: 1 !important;
  margin-right: 24px !important;
  background-size: 24px !important;
}
.qj::before {
  content: none !important;
}
.qj::after {
  content: none !important;
}
/* Inbox */
.aHS-bnt .qj {
  background-image: url("https://i.ibb.co/fn7MyRG/inbox-googblue-24dp.png") !important;
}
/* Dropdown arrow */
.aHS-bnt .afM {
  background-image: url("https://i.ibb.co/R7pYSLZ/arrow-drop-down-black-20dp.png") !important;
}
/* Starred, Important, Chats */
.aHS-bnw .qr,
.aHS-bns .qr,
.aHS-aHP .qr {
  opacity: 0.6 !important;
}
/* Starred */
.aHS-bnw .qj {
  background-image: url("https://i.ibb.co/mXkG5ff/grade-black-24dp.png") !important;
}
/* Important */
.aHS-bns .qj {
  background-image: url("https://i.ibb.co/rw73YY4/label-important-black-24dp.png") !important;
}
/* Chats */
.aHS-aHP .qj {
  background-image: url("https://i.ibb.co/RHqK4MB/hangout-black-24dp.png") !important;
}
/* Snoozed */
.aHS-bu1 .qj {
  background-image: url("https://i.ibb.co/KL9Wm2J/ic-upcoming-clr-24dp-r5-2x.png") !important;
}
/* Sent */
.aHS-bnu .qj {
  background-image: url("https://i.ibb.co/0fYwQYN/ic-sent-right-g60-24dp-r1-2x.png") !important;
}
/* Drafts */
.aHS-bnq .qj {
  background-image: url("https://i.ibb.co/St5mfzv/ic-draft-g60-24dp-r2-2x.png") !important;
}
/* Trash */
.aHS-bnx .qj {
  background-image: url("https://i.ibb.co/RQp6mnM/ic-trash-g60-24dp-r2-2x.png") !important;
}
/* Category */
.aHS-bnr .qj {
  background-image: url("https://i.ibb.co/wCh8tQ9/ic-custom-cluster-24px-g60-r3-2x.png") !important;
}
/* Spam */
.aHS-bnv .qj {
  background-image: url("https://i.ibb.co/CJm8B4X/ic-spam-g60-24dp-r2-2x.png") !important;
}
.TO.nZ .n0 {
  color: #212121 !important;
  outline: none;
}
.TO .n0 {
  color: #616161 !important;
  outline: none;
}

/* padding for inbox, starred, sent, drafts, snooze */
.TN.bzz.aHS-bnq,
.TN.bzz.aHS-bnu,
.TN.bzz.aHS-bnw,
.TN.bzz.aHS-bnt,
.TN.bzz.aHS-bu1 {
	padding-bottom: 5px;
	padding-top: 5px;
}

/* padding for inbox, stared, sent, drafts */
.aim {
  margin-left: -14px;
}

/* left menu border under trash */
.TN.bzz.aHS-bnx {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #DDDDDD;
}

/*
**
**END OF LEFT MENU
**
*/


/*
**
**START OF MAIN MENU, SEARCH BAR AND EMAIL AREA
**
*/

/* main top bar including shadow*/
.gb_xd.gb_4d.gb_Fd {
	height: 56px;
	box-shadow: 0px 5px 4px #c6c6c6;
}

/* main menu & gmail name  */
.gb_2b, .gb_Vb {
	margin-top: -8px !important;
}

/* search icon */
button.gb_ff.gb_gf  {
	margin-top: -3px;
	margin-left: 0px;
}

/* search icon options */
button.gb_lf {
	margin-top: -5px;
}

/* main search window */
.gb_oc.gb_Od.gb_Xd.gb_Td {
	margin-left: 10px;
}

/* search mail text */
 input.gb_3e {
	margin-top: -5px;
	margin-left: 20px;
}

/* Google Apps icon & Google Account icon */
.gb_w.gb_Xc.gb_f.gb_Af, .gb_Ea.gb_Xc.gb_qg.gb_f.gb_Af {
	margin-top: -7px;
}

/* search bar */
.gb_mf.gb_gf {
	margin-top: 0px;
	margin-left: 30px;
	height: 36px;
}

/* colapsed main menu */
.no {
	background-color: #F2F2F2;
}


/* main email area */
.Cp {
	margin-top: 2px !important;
}

/*
**
**END OF MAIN MENU, SEARCH BAR AND EMAIL AREA
**
*/



/* behind emails */
.AO, .Tm.aeJ,

/* left sidebar */
.nH.oy8Mbf.nn.aeN,

/* right sidebar */
.brC-aT5-aOt-Jw,

/* Hangout bar */
.aj5 .J-KU, .aj5.J-KU-Jg,

/* toolbar */
.aeH,

/* Inbox tabs */
.aKh,

/* Empty inbox tab */
.aRs
{
	background: #F2F2F2 !important;
}

/* Border under toolbar */
.D.E.G-atb::before {
	box-shadow: none;
	-webkit-box-shadow: none;
}

/* top bar (old, new) */
.gb_Ld.gb_je.gb_Td, .nH.w-asV.aiw, .nH.nn {
	background-color: #4C85F1 !important;
}

/* storage usage, terms of service, privacy, account activity */
.aeG {
	display: none;
}

/* Gmail icon (old, new) */
a[href='#inbox'] {
    width: 120px;
    overflow: hidden;
	text-decoration: none;
}
a[href='#inbox'] img {
	display: none
}

/* Gmail text */
a[href='#inbox']::after {
    content: 'Inbox';
    font-size: 20px;
    color: #FFF;
    position: relative;
    top: -2px;
	padding-left: 7px;
}

/* Invisible inbox info with huge padding at bottom of email  */
.pfiaof {
	display: none;
}

/* Top bar icons */
header svg {
	color: #FFF !important;
	opacity: 1 !important;
}

/* Search bar (old, new) */
header form {
	background: #5E97F6 !important;
	max-width: 90% !important;
}

/* Search bar icon on active input (old, new) */
.gb_1e.gb_yf.gb_if button svg, .gb_2e.gb_zf.gb_jf button svg {
	color: #000 !important;
}
.gb_if {
	margin-top: -5px;
}

/* Search bar placeholder (old, new) */
header form input::placeholder {
	color: #FFF !important;
}

/* Search bar input */
header form input {
	color: white !important;
}

/* Add reminder */
.add-reminder {
	user-select: none;
    position: fixed;
    right: 48px;
    bottom: 90px;
    z-index: 3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    background: #4285f4;
	overflow: hidden;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
	cursor: pointer;
}

/* Add reminder image */
.add-reminder::before {
	background-image: url("https://i.ibb.co/ZXjKTgc/btw-ic-speeddial-reminders-white-24dp-2x.png") !important;
	background-size: 24px !important;
	background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  content: '';
  display: block;
  height: 40px;
  width: 40px;
}

.add-reminder:hover {
	box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

/* Archive button (inbox email, opened email) */
.brq, .ar8 {
	background-image: url("https://i.ibb.co/yXwztKr/btw-ic-done-black-24dp-2x.png") !important;
	background-size: 24px !important;
}

/* Snooze button (inbox email, opened email) */
.brv, .brW {
	background-image: url("https://i.ibb.co/3ptb3Tk/btw-ic-snooze-black-24dp-2x.png") !important;
	background-size: 24px !important;
}

/* Snooze button */
li.bqX.brv {
	margin-right: 20px;
}

/* Opened email */
.Bs.nH.iY.bAt {
	margin: 10px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24) !important;
	width: calc(100% - 62px);
	background: #FFF;
}

/* Fixed border on email */
.Bu > .nH > .no { 
	display: none; 
}

/* Left toolbar when collapsed (this is done to fix hidden compose button when collapsed) */
.bhZ {
	position: relative !important;
	margin-right: -72px;
}

/* Attachments styling to look more like inbox */
.brd {
	margin-left: 0px !important;
}
.brc {
	border-radius: 2px !important;
	background-color: #f7f7f7;
	padding: 0 6px !important;
	color: #212121 !important;
	box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 2px rgba(0,0,0,.22) !important;
}
.brc .brg {
	font-size: 13px !important;
}

/* --------------------------------------------- */
/* Hides the pin icon until the mouse is over it */
/* --------------------------------------------- */

/* Nudges the pin along and then moves the date/time over a bit */
.zA .apU.xY {
	margin-right: 2px;
}
.zA .xW.xY {
	margin-left: -32px;
	margin-right: 10px;
}

/* Handles the positioning of the quick action icons that appear when you mouse over an email row to make room for the pin */
.bqY {
	position: relative;
	left: -10px;
}

/* Hides the pin when not pinned, until the cursor is over it */
.zA .apU.xY .aXw {
	display: none;
}
.zA .apU.xY .T-KT-JW {
	display: block;
}
.aqw .apU.xY .aXw {
	display: block;
}

/* --------------------------------------------- */
/* Inbox and top toolbar layout	    						 */
/* --------------------------------------------- */

/* Inbox: message list layout */
.nH .AO .aeF {
	min-width: 512px;
	margin-right: 7vw;
	width: auto;
}

/* Inbox: starred heading space */
.Cp {
	margin: 0 5px;
}

/* Inbox: hide the starred heading */
.nH.Wg.aAD.aAr {
	display: none;
}

/* Inbox: hide the everything else heading */
.nH.Wg.aAr {
	display: none;
}

/* Inbox: date groupings */
.time {
	font-size: 13px;
	padding-top: 13px;
}

/* Inbox: email rows */
.zA {
	padding: 13px 12px 13px 10px !important;
}

/* Email selected with keyboard shortcut (remove left padding so blue bar is still right against the left edge) */
.zA.btb {
	padding-left: 5px !important;
}
.zA.btb .PF.xY.PE {
	margin-right: 10px;
}

/* Inbox: email row contents */
.zA * {
	font-size: 13px;
}

/* Moves the selection indicator to the left */
.PF.xY.PE {
	margin-left: -5px;
	margin-right: 5px;
}

/* Hides the checkbox when not checked */
.zA .oZ-x3.xY .T-Jo {
	display: none;
}

/* Unhides the checkbox when checked */
.zA.aqw .oZ-x3.xY .T-Jo {
	display: inline;
}
.aqw .yX.xY div:nth-child(n+3)>img {
	display: none;
}
.x7 .yX.xY div:nth-child(n+3)>img {
	display: none;
}
.zA.x7 .oZ-x3.xY .T-Jo {
	display: inline;
}

/* */
/* Rearranges the menu at the top and moves it all to the right corner */
/* */

/* the bar that the menu items typically rest on */
.G-atb {
	height: 48px;
}

/* shifts the inbox down */
.aeF {
	margin-top: -8px;
}

.nH.aqK {
	padding-top: 0px;
}

.Cq.aqL {
	margin-left: auto;
	margin-right: -24px;
}

.Cr.aqJ {
	margin-left: 0px;
	margin-right: 0px;
}


/* Snoozed notification styling */
.cL {
    font-weight: normal !important;
    font-size: 13px;
    margin-left: 0px !important;
}

/* --------------------------------------------- */
/* Calendar event as attachment                  */
/* --------------------------------------------- */
.calendar-attachment {
	height: 80px !important;
	width: 400px !important;
}

.calendar-attachment .brc {
	height: 80px;
	width: 400px;
	max-width: 400px !important;
	padding-left: 0 !important;
}

.calendar-attachment .brg {
	display: flex;
	flex-direction: column;
	max-width: 250px;
	overflow: visible;
}

.calendar-attachment .event-title, .calendar-attachment .event-time {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.calendar-attachment .event-title {
	font-weight: normal;
}
.calendar-attachment .event-time {
	color: #757575;
}

.calendar-attachment .aKS {
	position: relative;
	top: 0;
	margin-top: 4px;
}

.calendar-attachment .aKS .aOd.T-I-awv {
	border-radius: 2px;
}

.calendar-image {
	height: 80px;
	width: 100px;
	background-position: center;
	background-image: url('//i.ibb.co/2kB7DZk/calendar-event-attachment.png');
	background-size: 200%;
	margin-right: 16px;
}

/* Labels inline in email list */
.ar {
	height: 22px !important;
	border-radius: 2px !important;
}

.ar .av {
	padding-top: 2px;
}

/* Name avatar */
.avatar {
	color: #fff;
	border-radius: 50%;
	font-weight: 300;
	position: relative;
	left: -10px;
	flex: 32px 0 0;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background-size: 75% 75% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.zA:hover .avatar {
	display: none;
}

.zA > .oZ-x3 > div[aria-checked="true"] + .avatar {
	display: none;
}

/* Alignment of calendar icon */
.zA>.yf {
	padding-right: 32px !important;
}

/* Hide important indicator on reminders */
.reminder .WA.xY {
	visibility: hidden;
}

/* Firefox-specific fixes */
@-moz-document url-prefix() {
	/* overflow fix emails list */
	.AO {
		overflow-y: auto;
	}

	/* overflow fix left sidebar */
	.oy8Mbf {
		overflow-y: hidden;
	}

	/* overflow fix right sidebar */
	.brC-aT5-aOt-bsf-Jw, .brC-bsf-aT5-aOt {
		overflow-y: hidden;
	}
}

/* Right side Hangouts */
div[aria-label="Hangouts"][role="complementary"] {
	background-color: rgb(242, 242, 242) !important;
}

.nH.bkK.nn + .nH.nn {
	background-color: #e5e5e5 !important;
}

/* Email subject padding */
.if > .byY, .iC .byY {
	padding: 20px 4px 8px 20px !important;
}

/* Hide labels next to email subject */
.nH > .ha > .J-J5-Ji {
	display: none;
}

/* Hide buttons next to email subject */
.nH > .nH > .hj > .ade {
	display: none;
}

/* Hide full length email address */
.iw > .qu > .go {
	display: none;
}